.header {
  height: 120px;
  display: flex;
  align-items: center;
  margin: 15;
  box-sizing: border-box; /* Tambahkan ini */
  background: #e4e4e4;
  width: 100%; /* Pastikan lebarnya 100% */
}
/* 5 BAGIAN SAMA BESAR */
.header-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-item-left {
  flex: 1;
  display: flex;
  align-items: left;
  justify-content: left;
}

.header-item-right {
  flex: 1;
  display: flex;
  justify-content: right;
}

.logo {
  height: 100px;
  width: auto;
  object-fit: contain;
}

.logo.mertrack:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.login.button {
  height: 80px;
  width: auto;
  object-fit: contain;
  /* border: 5px; */
  border-radius: 15;
}
.login.button:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}
